@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Rubik+Glitch&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto+Slab:wght@400;500;600;700;800&family=Secular+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{

    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}



/* Nav  */
header{
    
    padding: 0 0 0 5%;
    background-color: #f7ecde;
    padding-bottom:10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
}

.fa-bars{
    position: relative;
    font-size: 35px;
    color: #141850;
}

.fa-circle-xmark{
position: relative;
 left: -32px;
font-size: 35px;
color: #141850;
}

.toggle2{
    position: fixed;
    top:24px;
    left: 90%;
    text-align: center;
    color: #141850;
    z-index: 11;
}

.fa-earlybirds{
    position: relative; 
   font-size: 39px;
   transition: 0.5s;
   color: #141850;
}

.fa-earlybirds:hover{
   color: rgb(148, 194, 79);
}

.none{
    transform: scale(0);
    transition: 0.5s;  
}

.toggleContainer{
    display: flex;
    justify-content: space-between;  
}

.toggle {
    position: relative;
    padding: 24px 0 0 0;
}

.toggle h1{
font-family: 'Roboto Slab', serif;
font-weight: 600;
color: #141850;
}

.navigation2{
    padding-top: 20px;
    height: 0;
    overflow: hidden;
    
    
}

.theOverflowY{
    overflow-y:scroll ;
}

.navigation2 li{
    list-style: none;
    padding: 5px 0 0 0;
    font-size: 20px;
    text-align: center;
    color: #141850;  
}

.showLinks2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #c9bc91;
    z-index: 1;
    transition: 0.5s;
}


.navigation{
    padding-top: 20px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    color: #141850;
}

.navigation li{
    list-style: none;
    padding: 5px 0 0 0;
    font-size: 25px;
    text-align: center; 
    color: #141850; 
}

.navigation li a{
    text-decoration: none;
    padding: 0.2%;
}

.navigation li a {
  color:#2f3b3e;
  transition: 0.5s;
}

.navigation li a:hover{
   color:#105e76;
   background:#f5cac2;
   border-radius: 7px; 
   transition: 0.5s;
  }

  .showLinks1{
      height: 13rem;
      transition: 0.5s;
  }

  .navigation li span{
    color:#adef70;
    
   
  }



/* text field */

.textFieldDiv{
    text-align: center;
    
}
.textField{
    width: 50%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 3s;
    margin: auto;
}

.textField:focus{
    border-color:#f5cac2 ;
    box-shadow: 0 0 8px 0 #f5cac2;
}
/* text field end*/

/* Nav end */

.showStatus{
    text-align: center;
    font-size: large;
    
}

/* gender btns */

.GenderBtns {
   display: flex;
   justify-content: space-evenly;
   gap: 40px 80px;
   transform: scale(0);
   transition: ease-in 0.6s; 
   cursor: unset;
}

.GenderBtns .Male {
    text-decoration: none;
    font-size: 25px;
    padding: 1%;
    color: #fff;
    background: rgb(56, 73, 105);
    border-radius: 20px;
    margin: -11px 0 0 0;
    cursor: unset;
}

.GenderBtns .Female {
    text-decoration: none;
    font-size: 25px;
    padding: 1%;
    color: #fff;
    background: rgb(56, 73, 105);
    border-radius: 20px;
    margin: -11px 0 0 0;
    cursor: unset;
}

.fa-mars{
    color: #ff0f5b;
}

.fa-venus{
    color: #01b4ff;
}
/* gender btns end*/

/* bubbles part */

.replaceBody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    background:#f9eeef;
    color: #141850;
}

.smallBubbles{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 90px;
    margin: -18px 0 0 0;
    cursor: unset;
}

.dropShrink{
    cursor: pointer;
}

.container .smallBubbles .dropShrink:nth-child(1){
    border-radius: 72% 28% 53% 47% / 51% 63% 37% 49%;
}


.container .smallBubbles .dropShrink:nth-child(2) {
    border-radius: 42% 58% 57% 43% / 48% 73% 27% 52% ;
}

.container .smallBubbles .dropShrink:hover {
    border-radius: 50%;
}



.bigBubbles{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    gap: 40px 60px;
}

.container .drop:nth-child(1){
    border-radius: 47% 53% 61% 39% / 62% 46% 54% 38%;
}


.container .drop:nth-child(2){
    border-radius: 69% 31% 38% 62% / 30% 42% 58% 70%;
}

.container .drop:hover {
    border-radius: 50%;
}


.container .dropShrink{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
     25px 35px 20px rgba(0, 0, 0, 0.05),
     25px 30px 30px rgba(0, 0, 0, 0.05),
     inset -20px -20px 25px rgba(255, 255, 255, 0.9);
     transition: .5s;
     display: flex;
     justify-content: center;
     align-items: center;
}


.container .dropShrink::before{
    content: "";
    position: absolute;
    top: 25px;
    left: 55px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.container .dropShrink::after{
    content: "";
    position: absolute;
    top: 62px;
    left: 79px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.container .dropShrink .content button {
    position: relative;
    padding: 9px 10px;
    font-size: 23px;
    background: var(--clr);
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    text-shadow: 0 2px 2px rgb(0 0 0 / 25%);
    opacity: 0.75;
    transition: 0.5%;
}

.container .dropShrink .content button:hover{
    opacity: 1;
}

/* me up */

.container{
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    padding: 50px 0;
    gap: 40px 60px;
}

.container .drop{
    position: relative;
    width: 350px;
    height: 359px;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
     25px 35px 20px rgba(0, 0, 0, 0.05),
     25px 30px 30px rgba(0, 0, 0, 0.05),
     inset -20px -20px 25px rgba(255, 255, 255, 0.9);
     transition: .5s;
     display: flex;
     justify-content: center;
     align-items: center;
}



.container .drop::before{
    content: "";
    position: absolute;
    top: 50px;
    left: 85px;
    width: 35px;
    height: 35px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.container .drop::after{
    content: "";
    position: absolute;
    top: 90px;
    left: 110px;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.container .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}

.container .drop .content h2{
    position: relative;
    width: 80px;
    height: 80px;
    background: #eff0f4;
    border-radius: 50%;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1),
    inset -2px -5px 10px rgba(255, 255, 255, 1),
    15px 15px 10px rgba(0, 0, 0, 0.05),
    15px 10px 15px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: var(--clr);
}


.container .drop .content button{
  
    position: relative;
    padding: 7px 25px;
    font-size: 25px;
    background: var(--clr);
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    text-shadow: 0 2px 2px rgb(0 0 0 / 25%);
    opacity: 0.75;
    transition: 0.5%;
    
}

.container .drop .content button:hover{
    opacity: 1;
}

/* me down */
.feature{
    text-align: center;
    background-color: #f7ecde;
    padding: 1%;
}

.feature h1{
    border-bottom: 2px solid #141850;
    margin: auto;
    width: 14%;
}
.sideContainer{
    display: flex;     
}

.boyside{
    width: 50%;
    justify-content: center;
    align-items: center;
    background: #ff8fb1; 
}


.boyside h2{
    text-align: center;
    color: white;
    font-size: 30px;
}

.displayBoysDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
}

.boysContent {
     padding: 2%;  
     font-size: 20px;
}

.girlside{
    width: 50%;
    justify-content: center;
    align-items: center;
    background-color: #b270a2;
}

.girlside h2{
    text-align: center;
    color: white;
    font-size: 30px;
}

.displayGirlsDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1%;
}

.girlsContent{
    padding: 2%;
    font-size: 20px;
}


/* js special css */

.showGenderBtns{
    transform: scale(1);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.6s;
}

.DeleteBtnBoys{
    cursor: pointer;
}

.DeleteGirlsBtn{
    cursor: pointer;
}

.showStatus2{
    visibility: hidden;
    color: #ff0f5b;
    font-size: 20px;
    
  
}

.MatchMembers{
    transform: scale(0);
}

.showMatchMembers{
    transform: scale(1);
    transition: 0.5s ease-in;
}

.dropShrink.AddNames {
    margin: 0 0 0 291px;
}

.dropShrink.AddNames.shiftAdd{
    margin: 0 0 0 0;
}

.DeleteBtnBoys{
    color: #ff0f5b;
    transition: 0.3s ease-in;
}

.DeleteBtnBoys:hover{
    color: greenyellow;
}

.DeleteGirlsBtn{
    color: #ff0f5b;
    transition: 0.3s ease-in; 
}

.DeleteGirlsBtn:hover{
    color: greenyellow;
}

@media only screen and (max-width:501px){
    /*Small smartphones [325px -> 425px]*/
    .dropShrink.AddNames {
        margin: 0 0 0 0px;
        transition: 1s ease-in;
    }

    .bigBubbles.bigBubblesMargin{
       margin: -300px 0 0 0 ;
       transition: 1s ease-in;
    }

    .toggle2{
        position: fixed;
        top:24px;
        left: 83%;
        text-align: center;
        color: #141850;
        z-index: 11;
    }

    .feature{
        text-align: center;
        background-color: #f7ecde;
        padding: 1%;
    }
    
    .feature h1{
        border-bottom: 2px solid #141850;
        margin: auto;
        width: 35%;
    }

    .dropShrink{
        cursor: unset;
    }
    
}


/* extra */

.smallBubbles .dropShrink.AddNames .AddNames a{
    cursor: unset;
}
